* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #17181a;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

#logo {
  color: antiquewhite;
  font-family: "Poppins";
  text-decoration: none;
}

.nav-header {
  min-height: 10vh;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: antiquewhite;
  width: 80%;
  margin: auto;
  padding: 0 2rem;
  z-index: 2;
  position: relative;
  /*as z index only works if a positon is specified.*/
}

.line1,
.line2 {
  width: 1.5rem;
  height: 0.25rem;
  background: antiquewhite;
  margin: 0.2rem;
  pointer-events: none;
}

.slide {
  min-height: 100vh;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: antiquewhite;
  /* backgrounf if error */
}

.hero-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  flex: 1;
  flex-basis: 25rem;
  position: relative;
}

.hero-image {
  position: relative;
  flex: 1;
  flex-basis: 25rem;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.he {
  color: rgb(255, 139, 93);
}

.intial-span {
  color: #ea4335;
}

.head-2 {
  color: #4285f4;
}

.head-3 {
  color: #ffc54d;
}

.head-4 {
  color: #53d851;
}

.hero-description h2 {
  font-size: 3rem;
}

.hero-description p {
  padding: 2rem 0rem;
  font-size: 1.5rem;
}

.descp {
  margin-left: -150px;
  font-size: 1.5rem;
  padding: 2rem;
}

.descp2 {
  margin-left: 20px;
  font-size: 1.5rem;
  padding: 2rem;
}

.explore {
  background: none;
  color: antiquewhite;
  border: none;
  border: 1px solid white;
  padding: 1rem 2.5rem;
  text-decoration: none;
  cursor: pointer;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  opacity: 1;
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 1.5rem;
  clip-path: circle(50px at 100% -10%);
  -weblit-clip-path: circle(50px at 100% -10%);
}

li {
  padding: 2rem;
  list-style: none;
}

.nav-links {
  margin: 2rem;
  padding: 5rem 0rem;
  margin-right: 4rem;
}

.burger {
  cursor: pointer;
}

.contact h2 {
  font-size: 2.5rem;
  padding: 2rem 0rem;
}

.reveal-image,
.reveal-text {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #17181a;
  left: 0;
  top: 0;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  border: 2px solid white;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  transition-property: background, transform;
}

.nav-active {
  background: blueviolet;
  transform: scale(1.5);
}

.explore-active {
  background: white;
  transform: scale(2);
}

.cursor-text {
  position: absolute;
  top: 23%;
  left: 20%;
}

.title {
  overflow: hidden;
  position: relative;
}

.title-second {
  color: rgb(228, 136, 86);
}

.title-swipe {
  width: 100%;
  height: 100%;
  background: whitesmoke;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: darken;
  transform: translateY(100%);
}

.t-swipe1 {
  background: rgb(86, 124, 228);
}

.t-swipe2 {
  background: rgb(167, 110, 231);
}

.t-swipe3 {
  background: rgb(255, 139, 93);
}

.fashion1,
.fashion2,
.fashion3 {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  color: white;
  margin-top: 5rem;
  flex-wrap: wrap;
  position: relative;
}

.fashion-img {
  height: 70vh;
  flex-basis: 30rem;
}

.fashion-text {
  flex: 1;
  position: relative;
  flex-basis: 25rem;
}

.fashion-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fashion-text h1 {
  font-size: 6rem;
  padding: 5rem 0rem;
}

.fashion1 h1 {
  color: rgb(255, 139, 93);
}

.fashion2 h1 {
  color: rgb(167, 110, 231);
}

.fashion3 h1 {
  color: rgb(86, 124, 228);
}

.fashion-text p {
  font-size: 2rem;
  padding: 2rem 2rem 0rem 0rem;
  margin-bottom: 10rem;
}

.fashion-nr {
  font-size: 15rem;
  position: absolute;
  left: 80%;
  bottom: 10%;
  color: palevioletred;
  opacity: 0.2;
}

.swipe {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

.swipe1 {
  background: rgb(167, 110, 231);
  z-index: 5;
}

.swipe2 {
  background: rgb(86, 124, 228);
  z-index: 4;
}

.swipe3 {
  background: rgb(255, 139, 93);
  z-index: 3;
}